<app-header></app-header>
<form
  class="login-form"
  #registerFormReceiver="ngForm"
  (ngSubmit)="btnRegisterReceiver()"
>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Agregar Destinatario
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-group position-relative">
              <label>Nombre Completo<span class="text-danger">*</span></label>
              <em data-feather="user" class="fea icon-sm icons"></em>
              <input
                type="text"
                class="form-control pl-5"
                placeholder="Nombre"
                name="nombre_receptor"
                [(ngModel)]="emailModel.nombre_receptor"
                required=""
              />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group position-relative">
              <label>Email <span class="text-danger">*</span></label>
              <em data-feather="mail" class="fea icon-sm icons"></em>
              <input
                type="email"
                class="form-control pl-5"
                placeholder="Email"
                name="email_receptor"
                [(ngModel)]="emailModel.email_receptor"
                required=""
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-block">Agregar</button>
          <button class="btn btn-secondary btn-block" data-dismiss="modal">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Invoice Start -->
<section class="bg-invoice bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <div class="invoice-top pb-4 border-bottom">
              <div class="row">
                <div class="col-md-8">
                  <div class="logo-invoice mb-2">
                    Bienvenido {{ nombre }}<span class="text-primary"></span>
                  </div>
                  <a class="text-primary h6"> # Usuario: {{ id }} </a>
                  <br />
                  <a class="text-primary h6"> {{ correo }} </a>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!-- <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Cargar emails</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01" />
                <label class="custom-file-label" for="inputGroupFile01">Selecciona Excel</label>
              </div>
            </div> -->
            <br />
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              Agregar Destinatario
            </button>

            <br />
            <br />
            <!--<div class="invoice-table pb-4">
              <div class="table-responsive bg-white shadow rounded">
                <table class="table mb-0 table-center invoice-tb">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" class="text-left">No.</th>
                      <th scope="col" class="text-left">Email</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido Paterno</th>
                      <th scope="col">Apellido Materno</th>
                      <th scope="col">Seleccionar</th>
                      <th scope="col">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="text-left">1</th>
                      <td class="text-left">edgar@email.com</td>
                      <td>Edgar</td>
                      <td>Carrera</td>
                      <td>Carrasco</td>
                      <td>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="defaultCheck1"
                          />
                          <label
                            class="form-check-label"
                            for="defaultCheck1"
                            style="color: blue"
                          >
                            Agregar
                          </label>
                        </div>
                      </td>
                      <td style="color: red">Editar/Eliminar</td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-left">2</th>
                      <td class="text-left">oscar@email.com</td>
                      <td>Oscar</td>
                      <td>Aranda</td>
                      <td>Salas</td>
                      <td>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="defaultCheck1"
                          />
                          <label
                            class="form-check-label"
                            for="defaultCheck1"
                            style="color: blue"
                          >
                            Agregar
                          </label>
                        </div>
                      </td>
                      <td style="color: red">Editar/Eliminar</td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-left">3</th>
                      <td class="text-left">miguel@mail.com</td>
                      <td>Miguel</td>
                      <td>Aparicio</td>
                      <td>Herrara</td>
                      <td>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="defaultCheck1"
                          />
                          <label
                            class="form-check-label"
                            for="defaultCheck1"
                            style="color: blue"
                          >
                            Agregar
                          </label>
                        </div>
                      </td>
                      <td style="color: red">Editar/Eliminar</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
              <div class="row">
                <div class="container-fluid text-right">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck1"
                    />
                    <label
                      class="form-check-label"
                      for="defaultCheck1"
                      style="color: blue"
                    >
                      Agregar Todos
                    </label>
                  </div>
                </div>
              </div>
            </div>-->

            <form #loginForm="ngForm" (ngSubmit)="btnSendEmail()">

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputPassword4">Para:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder=""
                    #Email_receptor="ngModel"
                    name="email_receptor"
                    [(ngModel)]="emailBodyModel.email_receptor"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputPassword4">Asunto</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder=""
                    #Asunto="ngModel"
                    name="asunto"
                    [(ngModel)]="emailBodyModel.asunto"
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="inputAddress">Contenido</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  name="body"
                  #Contenido="ngModel"
                  [(ngModel)]="emailBodyModel.body"
                ></textarea>
              </div>

               <!--<div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01"
                    >Adjutar</span
                  >
                </div>
                 <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Selecciona un archivo</label
                  >

              </div></div>-->
              <br />

              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>

    <!--end row-->
  </div>

  <!--end container-->
</section>
<!--end section-->
<!-- Invoice End -->
<app-footer></app-footer>
