<app-header></app-header>
<form
  class="login-form"
  #registerFormReceiver="ngForm"
  (ngSubmit)="btnRegisterReceiver()"
>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Agregar Destinatario
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-group position-relative">
              <label>Nombre Completo<span class="text-danger">*</span></label>
              <em data-feather="user" class="fea icon-sm icons"></em>
              <input
                type="text"
                class="form-control pl-5"
                placeholder="Nombre"
                name="nombre_receptor"
                [(ngModel)]="emailModel.nombre_receptor"
                required=""
              />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group position-relative">
              <label>Email <span class="text-danger">*</span></label>
              <em data-feather="mail" class="fea icon-sm icons"></em>
              <input
                type="email"
                class="form-control pl-5"
                placeholder="Email"
                name="email_receptor"
                [(ngModel)]="emailModel.email_receptor"
                required=""
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-block">Agregar</button>
          <button class="btn btn-secondary btn-block" data-dismiss="modal">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Invoice Start -->
<section
  class="bg-invoice"
  style="
    background-image: url('https://sparkmailapp.com/img/blog/create-professional-email-address-format-examples.png?1592587369412');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <div class="invoice-top pb-4 border-bottom">
              <div class="row">
                <div class="col-md-8">
                  <div class="logo-invoice mb-2">
                    Bienvenido {{ nombre }}<span class="text-primary"></span>
                  </div>
                  <a class="text-primary h6"> # Usuario: {{ id }} </a>
                  <br />
                  <a class="text-primary h6"> {{ correo }} </a>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!-- <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Cargar emails</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01" />
                <label class="custom-file-label" for="inputGroupFile01">Selecciona Excel</label>
              </div>
            </div> -->
            <br />
            <div class="float-left">
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                Agregar Destinatario
              </button>
            </div>
            <br />
            <br />

            <div class="invoice-table pb-4">
              <div class="table-responsive bg-white shadow rounded">
                <table id="" class="table mb-0 table-center text-center">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Email</th>
                      <th scope="col">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contact of _userService.contacts">
                      <td hidden>{{ contact.cUSU_Id }}</td>
                      <td hidden>{{ contact.cMAIL_Id }}</td>
                      <td>{{ contact.cMAIL_Nombre }}</td>
                      <td>{{ contact.cMAIL_Mail }}</td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-info float-right"
                          (click)="addContact(contact)"
                        >
                          Agregar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
              <div class="text-right">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="eraseContacts()"
                >
                  Borrar lista
                </button>
              </div>
            </div>

            <form #loginForm="ngForm" (ngSubmit)="btnSendEmail()">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputPassword4">Para:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email_receptor"
                    placeholder=""
                    #Email_receptor="ngModel"
                    name="email_receptor"
                    [(ngModel)]="emailBodyModel.email_receptor"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputPassword4">Saludo</label>
                  <input
                    type="text"
                    class="form-control"
                    id="asunto"
                    placeholder=""
                    #Asunto="ngModel"
                    name="asunto"
                    [(ngModel)]="emailBodyModel.asunto"
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="inputAddress">Mensaje</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  name="body"
                  #Contenido="ngModel"
                  [(ngModel)]="emailBodyModel.body"
                ></textarea>
              </div>

              <!--<div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01"
                    >Adjutar</span
                  >
                </div>
                 <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Selecciona un archivo</label
                  >

              </div></div>-->
              <br />
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>

    <!--end row-->
  </div>

  <!--end container-->
</section>
<!--end section-->
<!-- Invoice End -->
<app-footer></app-footer>
