<!-- Hero Start -->
<section
  class="bg-home d-flex align-items-center"
  style="
    background-image: url('https://sparkmailapp.com/img/blog/create-professional-email-address-format-examples.png?1592587369412');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  "
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-6">
        <div class="mr-lg-5">
          <img src="" class="img-fluid d-block mx-auto" alt="" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div
          class="card login-page bg-white shadow border-0"
          style="outline: 1px solid black"
        >
          <div class="card-body">
            <h4 class="card-title text-center">Ingresar</h4>
            <form
              class="login-form mt-4"
              #loginForm="ngForm"
              (ngSubmit)="btnLogin()"
              role="form"
            >
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label>Email <span class="text-danger">*</span></label>
                    <em data-feather="user" class="fea icon-sm icons"></em>
                    <input
                      #email="ngModel"
                      [(ngModel)]="loginModel.correo"
                      type="email"
                      class="form-control pl-5"
                      placeholder="Email"
                      name="email"
                      required="true"
                    />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label>Contraseña <span class="text-danger">*</span></label>
                    <em data-feather="key" class="fea icon-sm icons"></em>
                    <input
                      type="password"
                      class="form-control pl-5"
                      placeholder="Contraseña"
                      required="true"
                      #password="ngModel"
                      name="password"
                      [(ngModel)]="loginModel.password"
                      autocomplete="off"
                    />
                  </div>
                </div>

                <!--   <div class="col-lg-12">
                  <div class="d-flex justify-content-between">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck1"
                        />
                        <label class="custom-control-label" for="customCheck1"
                          >Recordar cuenta</label
                        >
                      </div>
                    </div>
                    <p class="forgot-pass mb-0">
                      <a
                            href="auth-re-password.html"
                            class="text-dark font-weight-bold"
                            >¿Olvidó su contraseña?</a

                    </p>
                  </div>
                </div>-->
                <div class="col-lg-12 mb-0">
                  <button class="btn btn-primary btn-block">Ingresar</button>
                </div>

                <div class="col-12 text-center">
                  <p class="mb-0 mt-3">
                    <small class="text-dark mr-2">¿No tiene una cuenta?</small>
                    <a
                      [routerLink]="['/register']"
                      class="text-dark font-weight-bold"
                      >Registrarse</a
                    >
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!---->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->
