<!-- Navbar STart -->
<header
  id="topnav"
  class="defaultscroll sticky active sticky"
  style="background-color: #394867"
>
  <div class="container">
    <!-- Logo container-->
    <div>
      <a class="logo" style="color: white!" [routerLink]="['/home']"
        ><span style="color: white">Sicom.</span></a
      >
    </div>

    <div id="navigation" class="float-right">
      <ul class="navigation-menu">
        <li><a [routerLink]="['/login']" style="color: white">Salir</a></li>
      </ul>
    </div>

    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle">
          <div class="lines">
            <a [routerLink]="['/login']" style="color: white">Salir</a>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>
  </div>
  <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->
