<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky active sticky bg-white">
  <div class="container">
    <!-- Logo container-->
    <div>
      <a class="logo" [routerLink]="['/home']"
        >Sicom<span class="text-primary">.</span></a
      >
    </div>

    <div id="navigation">
      <ul class="navigation-menu">
        <li><a [routerLink]="['/login']" class="text-blue">Salir</a></li>
      </ul>
    </div>

    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle">
          <div class="lines">
            <a [routerLink]="['/login']" class="text-blue">Salir</a>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>
  </div>
  <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->
